.imageLogo {
    width: 50px;
}
/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  background-color: lightskyblue;
  top: 0;
  width: 100%;
  left: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(78, 181, 245);
    color: black;
  }

  .navigationButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
