.main-navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 4rem;
    align-items: center;
    background-color: rgb(114, 172, 231);
    margin-top: 0rem;
    padding-left: 0rem;
}
.main-navigation:hover{
    margin-top: auto;
    height: 6rem;
}
.navigation-element:hover{
    font-size: 1.5rem;
}
.logo-image{
    object-fit: contain;
    max-width: auto;
    width: auto;
}
.logo-image-infinite{
    max-height: 4.3rem;
    height: 4.3rem;
}
.logo-image-infinite:hover{
    max-height: 6rem;
    height: 6rem;
}
.logo-image-user{
    max-height: 3.5rem;
    height: 3.5rem;
}
.logo-image-user:hover{
    max-height: 5rem;
    height: 5rem;
}
body{
    background-color: lightblue;
}

.foot{
    display: flex;
    justify-content: space-around;
}